{% extends '../layout.twig' %}

{% block body %}
    <h1>Galaxies</h1>
    <a href="/galaxies/create" class="btn">Add New Galaxy</a>
    <div class="grid">
        {% for galaxy in galaxies %}
            <div class="card">
                {% if galaxy.image %}
                    <img src="/uploads/{{ galaxy.image }}" alt="{{ galaxy.name }}">
                {% endif %}
                <h3>{{ galaxy.name }}</h3>
                <p><strong>Size:</strong> {{ galaxy.size }} light-years</p>
                <p>{{ galaxy.description }}</p>
                <div class="actions">
                    <a href="/galaxies/{{ galaxy.id }}/edit">Edit</a>
                    <a href="/galaxies/{{ galaxy.id }}/delete" class="delete">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}